# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
**/.env
**/.env.*

# Database / SQLite
**/*.db
**/*.sqlite
**/*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/